#phaser-canvas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px; /* this might be good enough for mobile */
}

body {
    background: darkslateblue;
}